html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: aliceblue;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.nav-container {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  font-size: 3.5rem;
  color: white;

  background-color: rgb(47, 79, 55);

  width: 100%;
}

.pic-container {
  margin: 0 auto;

  width: 900px;
  height: 800px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: space-around;

  margin: 0 auto 10px auto;
  width: 900px;
}

.vote-bttn {
  padding: 12px;
}

.bttn {
  font-size: 20px;
  font-weight: 600;

  background-color: transparent;
  color: #2b6cb0;

  padding-top: 8px;
  padding-bottom: 8px; /*//0.5rem; */
  padding-left: 16px;
  padding-right: 16px;

  border-width: 1px;
  border-color: #4299e1;
  border-radius: 4px;
}

.bttn:hover {
  background-color: #4299e1;
  color: #fff;
  border-color: transparent;
}

.bttn-danger {
  font-size: 20px;
  font-weight: 600;

  background-color: transparent;
  color: #c53030;

  padding-top: 8px;
  padding-bottom: 8px; /*//0.5rem; */
  padding-left: 16px;
  padding-right: 16px;

  border-width: 1px;
  border-color: #f56565;
  border-radius: 4px;
  
}

.bttn-danger:hover {
  background-color: #fc8181;
  color: #fff;
  border-color: transparent;
}

.bttn-next {
  font-size: 20px;
  font-weight: 600;

  background-color: transparent;
  color: #2f855a;

  padding-top: 8px;
  padding-bottom: 8px; /*//0.5rem; */
  padding-left: 16px;
  padding-right: 16px;

  border-width: 1px;
  border-color: #48bb78;
  border-radius: 4px;
  
}

.bttn-next:hover {
  background-color: #48bb78;
  color: #fff;
  border-color: transparent;
}


.hide {
  display: none;
}

/* *********************************** */

.loved-container {
  margin: 40px auto;

  text-align: center;

  font-size: 3rem;

  width: 700px;
  height: 600px;
}

.loved-cat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav-cat {
  width: 100%;
  height: 500px;
}
